@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype"); }

@media (min-width: 768px) {
  body {
    font-family: "OpenSans", Helvetica, Tahoma, Arial, sans-serif;
    background: #FFFFF0;
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 14px; } }

@media (max-width: 768px) {
  body {
    font-family: "OpenSans", Helvetica, Tahoma, Arial, sans-serif;
    background-repeat: no-repeat;
    background-size: 100%;
    width: auto !important;
    min-width: 600px;
    font-size: 14px; } }

@media (max-width: 992px) {
  .sm-gap {
    padding-right: 10px !important; } }

@media (max-width: 768px) {
  .sm-gap {
    padding-right: 0px !important; } }

a:link, a:visited, a:active {
  text-decoration: none;
  font-weight: bold; }

a:hover {
  color: #142A2F;
  text-decoration: none;
  font-weight: bold; }

div {
  margin: 0;
  padding: 0; }

.post {
  background: #E7E7E7;
  border: 1px solid #ccc;
  border-top: 0;
  margin-bottom: 15px;
  padding-top: 15px;
  min-height: 250pt;
  position: relative;
  overflow: hidden; }

.post-user-area {
  min-height: 249pt;
  margin-top: -5px;
  float: left;
  display: inline-block;
  width: 25%;
  position: relative; }

.white {
  color: #fff; }

.btn-xlarge {
  padding: 10px 18px;
  font-size: 16px;
  line-height: normal; }

.post-info-bar {
  height: 25pt;
  width: 100%;
  float: left;
  background: #4A4A4A;
  color: #fff;
  display: inline-block;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  overflow: hidden;
  border: 1px solid #ccc; }

.left {
  float: left; }

.right {
  float: right; }

.button {
  color: #fff !important; }

.post-text-area {
  height: 90%;
  margin-top: -5px;
  padding-left: 15px;
  padding-bottom: 1500px;
  margin-bottom: -1500px;
  padding-right: 15px;
  float: right;
  display: inline-block;
  border-left: 1px solid #ccc;
  position: relative;
  width: 75%; }

.post-status-bar {
  height: 15pt;
  width: 100%;
  background: #4A4A4A;
  color: #4D7FFF;
  position: relative;
  padding-left: 5px;
  float: right;
  overflow: hidden;
  display: inline-block;
  border-left: 1px solid #ccc;
  margin-top: -5px; }

.post-status-bar a {
  color: #fff; }

.post-status-bar a:hover {
  color: #6A6A6A; }

.post-user-area h3 {
  margin-top: 0px;
  text-align: center; }

.user-avatar {
  height: 150pt;
  background: #fff;
  width: 75%;
  float: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  /* for horizontal alignment */
  -ms-flex-align: center;
  align-items: center;
  /* for vertical alignment */
  margin: 0 auto; }

dl {
  width: 100%;
  overflow: hidden;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0; }

dt {
  float: left;
  width: 50%;
  text-align: center;
  padding: 0px;
  margin: 0px; }

dd {
  float: left;
  width: 50%;
  padding: 0;
  margin: 0; }

.topbar a:link, .topbar a:visited, .topbar a:active {
  color: #A5CBCC;
  text-decoration: none; }

.topbar a:hover {
  color: #fff; }

.t {
  background: #45595A;
  color: #fff;
  padding: 8px 15px;
  font-size: 13px; }

.topbar {
  background: #45595A;
  color: #fff;
  padding: 8px 15px;
  font-size: 13px; }

ul.toplinks {
  float: right;
  list-style: none;
  display: block;
  margin: 0; }

.toplinks li {
  float: left;
  padding: 0 30px 0 0; }

/*
	Text Styling and Floats
*/
.aleft {
  text-align: left; }

.aright {
  text-align: right; }

.center {
  text-align: center; }

.floatleft {
  float: left; }

.floatright {
  float: right; }

.auto {
  margin: 0 auto; }

.large {
  font-size: 16px; }

.xlarge {
  font-size: 18px; }

.small {
  font-size: 12px; }

.xsmall {
  font-size: 11px; }

.white {
  color: #fff; }

.b {
  font-weight: bold; }

.clear {
  clear: both; }

.welcomeback {
  min-width: 150px;
  max-width: 400px;
  float: left; }

/*# sourceMappingURL=app.css.map */
